<ion-content>
    <div class="title">
        <p>Developpée par :</p>
    </div>

    <div class="info">
        <table>
            <tr>

                <p class="name">Mehdi Tmimi : </p>
                <p>mehdi.tmimi@usmba.ac.ma</p>

            </tr>

            <tr>
                <p class="name">Youssef Oukhouya : </p>
                <p>Youssefoukhouya@gmail.com</p>
            </tr>

            <tr>
                <p class="name">Salman Hamdouchi : </p>
                <p>Th3salman@gmail.com</p>

            </tr>


        </table>
    </div>

    <div class="closeButtonHolder">
        <ion-button (click)="dismissPopover()">
            Fermer
        </ion-button>
    </div>

</ion-content>